

    .forecast {
        display: flex;
        justify-content: space-around;
    }
    
    .forecast div {
        background-color: lightblue;
        text-align: center;
        line-height: 100px;
        border: 1px solid black;
        font-size: 16px;
        overflow: hidden; /* Hide content that exceeds the div */
    }
    #current-date {
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }
   
   